form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;

    .form-group{
        display: flex;
        // width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }

    input[type=text],input[type=number],input[type=password]{
        width: 364px;
        height: 72px;
        border: 2px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 1rem 2rem;
        font-family: Ubuntu;
        font-size: 18px;
        line-height: 30px;
    }
    input:focus{
        outline: none;
    }

    ::placeholder{
        font-family: Ubuntu;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;
        letter-spacing: 0.05em;

        /* BLACK60 */

        color: #A0A4A8;
    }
}

.body1{
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    text-align: center;
    letter-spacing: 0.05em;

    color: #4F4F4F;

}

.form-otp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .otp{
        width: 46px;
        border: none;
        border-bottom: 1px;
    }
}