.featured{
    background: #f2f2f2;
    
    .featured-wrapper{
        box-sizing: border-box;
        padding: 5rem 0;

        .featured-banner{
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 4rem 0;
        }

        .featured-details{
            .details-left{
                width: 35%;
            }

            button{
                margin-top: 5rem;
            }
        }
    }
}