.partner{
    width: 100%;
    .partner-wrapper{
        width: inherit;
        .merchant-logo,.partner-logo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .partner-button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
            button{
                box-sizing: border-box;
                border: none;
                background: none;
                border-bottom: 2px solid #BDBDBD;
                width: 285px;
                height: 42px;
                text-align: start center;
                cursor: pointer;
                color: #333333;
            }
            .active{
                color: #ED1C24;
                border-bottom: 5px solid #ED1C24;
            }

            button:focus{
                outline: none;
            }
        }
    }
}

@media screen and (max-width:425px){
    .partner{
        .partner-wrapper{
            .partner-button{
                margin-bottom: 1rem;
                button{
                    font-size: 15px;
                }
            }

            .merchant-logo,.partner-logo{
                .partnerlogo-container{
                    width: 35% !important;
                    margin: 1rem 1rem !important;
                }
            }
        }
    }
}