.navbar-login{
    width: 100vw;
    height: 90px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
    box-sizing: border-box;
    .wrapper{
        box-sizing: border-box;
        padding: 0.5rem 4rem;
        height: inherit;
        img{
            height: 80px;
        }
    }
}