@media screen and (max-width: 425px){
    .tab-mobile{
        background: #F2F2F2;
    }
    .tab-mobile-wrapper{
        h5{
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.01em;
            width: 70%;
            margin: 0 auto;
            
            /* Gray 1 */
            
            color: #333333;
        }
        p{
            line-height: 22px;
            /* or 137% */
            
            text-align: center;
            letter-spacing: 0.03em;
            
            /* #333333 */
            
            color: #333333;
        }
    }
    
    .tab-mobile-content{
        .tab-mobile-content-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2rem 1rem;
            .content-title{
                border-bottom: 5px solid #ED1C24;

                h5{
                    font-size: 20px;
                    line-height: 23px;
                    /* identical to box height */

                    text-align: center;
                    letter-spacing: 0.01em;
                    margin: 0;
                    margin-bottom: 1rem;

                    color: #ED1C24;
                }
            }

            .body2{
                font-size: 16px;
                line-height: 22px;
                /* or 137% */

                text-align: center;
                letter-spacing: 0.03em;

                /* #4F4F4F */

                color: #4F4F4F;
            }

            .__mobile__tab{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 2rem 0;
            }

            .__mobile__tabCarousel{
                margin: 2rem 0;
            }
        }
    }
}