.btn-tab-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    
}

.tab-content-active{
    display: block;
}

.tab-content{
    display: none;
}

.__tab{
    position: relative;
    z-index: 1;
    // margin-top: -10rem;
    .bgQR{
        position: absolute;
        width: 553px;
        height: 515px;
        z-index: 0;

        left: 0;
        top: 33rem;
    
        background-repeat: no-repeat;
        background-size: contain;
    }

    .tab-title{
        margin: 0 8%;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 425px){
    .tab-title{
        .title-tab{
            font-size: 20px;
            line-height: 23px !important;
            letter-spacing: 0.01em !important;
            color: #333333 !important;
        }
        p{
            font-size: 16px !important;
        }
    }
    .__tab{
        background: none !important;
        .tab-title{display: none;}

        padding-top: 1rem !important;
        margin-top: 0 !important;
        .bgQR{
            width: 195px;
            height: 252px;
            top: 5rem;
            background-size: cover;
            background-position: right;
        }
    }

    .btn-tab-wrapper{
        margin: 0 5%;
    }
}