.footer-container{
    width: 100%;
    box-sizing: border-box;
    background: #333333;

    .footer-wrapper{
        padding-top: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin: 0 15%;

        ul{
            margin: 0;
            list-style-type: none;

            li, a{
                color: white;
                margin-bottom: 0.7rem;
            }
        }
        p{
            margin: 0;
            color: white;
        }

        .footer-contact{
            width: 294px;
        }

        .footer-other{
            .other{
                margin-bottom: 1.3rem;
                .footer-img{
                    margin-top: 1rem;

                    img{
                        margin-right: 1rem;
                    }
                    .playstore{
                        width: 128px;
                    }
                }
            }
        }
    }

    .footer-copyright{
        margin: 0 18%;
        box-sizing: border-box;

        display: flex;
        justify-content: center;

        border-top: 0.5px solid rgba(255, 255, 255, 0.5);

        p{
            color: white;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width:425px){
    .footer-container{
        .footer-wrapper{
            display: block;

            ul{
                padding-left: 0em;
            }

            .footer-menu, .footer-contact, .footer-other{
                margin-top: 2rem;
            }

            .footer-menu{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    .first-item{
                        width: 100%;
                    }
                    li{
                        width: 50%;
                    }
                }
            }
        }
    }
    .footer-copyright{
        margin: 0 !important;
    }
}