.__bannerLong{
    position: relative;
    z-index: 3;
    margin-top: 8rem;
}
.banner-long-wrapper{
    position: relative;
    width: 100%;
    height: 205px;
    box-sizing: border-box;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ED1C24;
    border-radius: 25px;

    .phone-img{
        position: absolute;
        left: 10rem;
    }

    .__bgQr{
        position: absolute;
        width: 541px;
        height: 503px;
        background-size: contain;
        background-repeat: no-repeat;

        z-index: -1;
        top: -11rem;
        left: 5rem;
    }

    .content{
        padding-left: 10rem;
        width: auto;
        p{
            line-height: 24px;
            /* or 150% */
        
            letter-spacing: 0.01em;
    
            /* white */
    
            color: #FFFFFF;
        }
    }
}
.content-mobile{
    display: none;
}

@media screen and (max-width:425px){
    .banner-long-wrapper{
        height: 107px;
        border-radius: 15px;

        .illustration-img{
            position: absolute;
            margin-top: 1rem;
            margin-left: -0.8rem;
            width: 133px;
        }
        .phone-img{
            width: 187px;
            left: 6rem;
        }
        .content{display: none;}

        .__bgQr{
            display: none;
        }
    }

    .content-mobile{
        display: block;
        margin-top: 3rem;
        p{
            line-height: 22px;
            /* or 137% */

            letter-spacing: 0.03em;

            /* #333333 */

            color: #333333;

        }
    }
}